In [15]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [16]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kang,BW,2022-06-15 17:16:56,-23.6752,22.7876,49.71,34,0,7.70
1,1,Norman Wells,CA,2022-06-15 17:16:57,65.2820,-126.8329,52.07,75,90,4.63
2,2,Ushuaia,AR,2022-06-15 17:16:22,-54.8000,-68.3000,44.26,70,20,11.50
3,3,Athabasca,CA,2022-06-15 17:16:58,54.7169,-113.2854,57.61,89,100,19.15
4,4,Sao Joao Da Barra,BR,2022-06-15 17:16:58,-21.6403,-41.0511,77.09,52,89,6.38

In [17]:
type(city_data_df)

pandas.core.frame.DataFrame

In [18]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [19]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False,max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Sao Joao Da Barra,BR,2022-06-15 17:16:58,-21.6403,-41.0511,77.09,52,89,6.38
5,5,Itarema,BR,2022-06-15 17:12:17,-2.9248,-39.9167,85.14,54,15,13.02
6,6,Hilo,US,2022-06-15 17:16:59,19.7297,-155.0900,79.11,74,0,5.75
7,7,High Rock,BS,2022-06-15 17:17:00,26.6208,-78.2833,87.82,70,100,5.17
10,10,Teguise,ES,2022-06-15 17:17:02,29.0605,-13.5640,75.42,47,20,14.97
14,14,Oussouye,SN,2022-06-15 17:17:05,12.4850,-16.5469,87.98,61,96,11.81
15,15,Bengkulu,ID,2022-06-15 17:17:05,-3.8004,102.2655,75.49,90,100,4.14
18,18,Albany,US,2022-06-15 17:13:33,42.6001,-73.9662,83.57,47,55,3.69
21,21,Arraial Do Cabo,BR,2022-06-15 17:17:08,-22.9661,-42.0278,75.16,49,0,11.50
26,26,Bardiyah,LY,2022-06-15 17:17:11,31.7561,25.0865,77.18,62,0,11.07

In [30]:
preferred_cities_df.count()

City_ID       203
City          203
Country       203
Date          203
Lat           203
Lng           203
Max Temp      203
Humidity      203
Cloudiness    203
Wind Speed    203
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
4   Sao Joao Da Barra      BR     77.09 -21.6403  -41.0511
5             Itarema      BR     85.14  -2.9248  -39.9167
6                Hilo      US     79.11  19.7297 -155.0900
7           High Rock      BS     87.82  26.6208  -78.2833
10            Teguise      ES     75.42  29.0605  -13.5640
14           Oussouye      SN     87.98  12.4850  -16.5469
15           Bengkulu      ID     75.49  -3.8004  102.2655
18             Albany      US     83.57  42.6001  -73.9662
21    Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
26           Bardiyah      LY     77.18  31.7561   25.0865

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [38]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [39]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Sao Joao Da Barra,BR,77.09,-21.6403,-41.0511,Pousada Porto De Canoas
5,Itarema,BR,85.14,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
6,Hilo,US,79.11,19.7297,-155.0900,Hilo Hawaiian Hotel
7,High Rock,BS,87.82,26.6208,-78.2833,Hideaway Bahamas Beach Club
10,Teguise,ES,75.42,29.0605,-13.5640,B&B La Casona de Nazaret
14,Oussouye,SN,87.98,12.4850,-16.5469,Auberge du Routard
15,Bengkulu,ID,75.49,-3.8004,102.2655,Grage Hotel Bengkulu
18,Albany,US,83.57,42.6001,-73.9662,
21,Arraial Do Cabo,BR,75.16,-22.9661,-42.0278,Pousada Porto Praia
26,Bardiyah,LY,77.18,31.7561,25.0865,بورتو بردية

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))